body {
  display: flex;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

body > .aside-nav {
  width: 140px;
  flex-shrink: 0;
}

body > .content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 14px;
}

body > .content > .title {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  &::before {
    content: "";
    width: 4px;
    height: 44%;
    background-color: #1890ff;
    margin-right: 10px;
  }
}

#origin > .divide,
#react > .divide,
#react > * > .divide, 
#vue3 > .divide,
#vue3 > * > .divide {
  margin: 20px 0;
  border-bottom: 2px dashed rgb(170, 170, 170);
}

#origin,
#react,
#vue3 {
  padding: 0 8px;
}

h3 {
  margin: 6px 0;
}