<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="color-scheme" content="light dark" />
		<title>fl-tree组件测试</title>
    <script type="module" src="../index.ts"></script>
    <script type="module" src="./index.tsx"></script>
    <!-- 实际用的时候需要还需要手动引入iconfont中的字体 -->
    <link rel="stylesheet" href="/iconfont/font-face.css">
	</head>
	<body>
    <section id="aside-nav" class="aside-nav"></section>
    <section class="content">
      <h2 class="title">原生示例</h2>
      <div id="origin">
        <!-- 👈 这里面编写原生用法 -->
        <fl-tree text="原生"></fl-tree>
      </div>

      <h2 class="title">react示例</h2>
      <div id="react"></div>
      
      <h2 class="title">vue3示例</h2>
      <div id="vue3"></div>
    </section>
	</body>
</html>
