<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="color-scheme" content="light dark" />
		<title>组件测试</title>
    <script type="module" src="./index.ts"></script>
    <script type="module" src="./index.test.tsx"></script>
	</head>
	<body>
    <h2>原生</h2>
    <div id="origin">
      <fl-tree name="word" arr="&quot;[\&quot;str\&quot;,4,5]&quot;"></fl-tree>
      <fl-tree-sd name="word" arr="&quot;[\&quot;str\&quot;,4,5]&quot;"></fl-tree-sd>  
    </div>

    <h2>preact</h2>
    <div id="preact"></div>
		
    <h2>vue3</h2>
    <div id="vue3"></div>
	</body>
</html>
